.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #1a1a1a, #000);
}

.header {
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: headerFade 3s ease forwards;
    height: 5rem;
    display: flex;
    align-items: center;
}

.header img {
    margin: 0.3rem;
}

@keyframes headerFade {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.carouselContainer {
    overflow: hidden;
}
