.staticRow {
    display: flex;
    gap: 1rem;
}

.scrollLeftRow {
    animation: scrollLeft 40s linear infinite;
}

.scrollRightRow {
    animation: scrollRight 40s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--translate)));
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(calc(-1 * var(--translate)));
    }

    100% {
        transform: translateX(0);
    }
}
